@import "../variables/variables.scss";

.review-section {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 100%, rgba(0, 0, 0, 0.8) 100%), url(../img/banner-book.png) top/cover no-repeat;
    .container {
        margin: 0 180px;

        @media screen and (max-width: 1023px) {
            margin: 0 35px;
        }

        @media screen and (max-width: 767px) {
            margin: 0 20px;
        }

    }
}

.review-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0 50px 0;

    .review-heading {
        display: flex;
        align-items: center;

        @media screen and (max-width: 1023px) {
            justify-content: flex-end;
        }
        
            .round {
                @include round-l;

                @media screen and (max-width: 1023px) {
                    @include round-s;
                }

                @media screen and (max-width: 767px) {
                    @include round-xs;
                }
            }

            p {
                @include products-heading-l;

                @media screen and (max-width: 1023px) {
                    @include products-heading-s;
                }

                @media screen and (max-width: 767px) {
                    @include products-heading-xs;
                }
            }
    }

    .team-photos {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 90px;

        @media screen and (max-width: 767px) {
            margin-top: 30px;
        }
        
        img {
            height: 120px;
            margin-right: 5px;

            @media screen and (max-width: 1023px) {
                height: 150px;
            }
    
            @media screen and (max-width: 767px) {
                height: 0;
            }
        }

        .active-photo {
            height: 220px;

            @media screen and (max-width: 1023px) {
                height: 250px;
            }
    
            @media screen and (max-width: 767px) {
                height: 300px;
            }
        }

        .arrow-img {
            height: 15px;
            margin: 100px 10px 0 10px;

            @media screen and (max-width: 767px) {
               margin-top: 270px;
            }
        }

        .arrow-img:hover {
            transform: scale(1.5);
        }

        .left-arrow {
            @media screen and (max-width: 767px) {
                height: 0;
            }
        }
    }

    .team-biography {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        p {
            color: $main-color;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        ul  {
            color: $button-active;
            width: 400px;
            font-size: 10px;

            @media screen and (max-width: 767px) {
                width: 100%;
            }

            li {
                list-style-type: none;
            }
        }
    }
}