* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; }

h1, h2, h3, h4, p, ul {
  margin: 0;
  padding: 0; }

img {
  display: block; }

header {
  height: 50px;
  width: 100%;
  background-color: #222222;
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.32); }
  @media screen and (max-width: 767px) {
    header {
      height: 60px; } }
  header .container {
    margin: 0 180px; }
    @media screen and (max-width: 1023px) {
      header .container {
        margin: 0 35px; } }
    @media screen and (max-width: 767px) {
      header .container {
        margin: 0 20px; } }

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 50px; }
  @media screen and (max-width: 1023px) {
    .header-content {
      line-height: 45px; } }
  @media screen and (max-width: 767px) {
    .header-content {
      line-height: 55px; } }
  .header-content .hamburger {
    display: none; }
    @media screen and (max-width: 1023px) {
      .header-content .hamburger {
        display: flex;
        flex-direction: column; } }
    @media screen and (max-width: 767px) {
      .header-content .hamburger {
        display: flex;
        flex-direction: column; } }
    @media screen and (max-width: 1023px) {
      .header-content .hamburger .hamburger-item {
        display: flex;
        flex-direction: column;
        height: 3px;
        width: 30px;
        border-radius: 2px;
        background-color: #D8D8D8;
        margin-top: 5px; } }
    @media screen and (max-width: 767px) {
      .header-content .hamburger .hamburger-item {
        display: flex;
        flex-direction: column;
        height: 3px;
        width: 30px;
        border-radius: 2px;
        background-color: #D8D8D8;
        margin-top: 5px; } }
  .header-content .logo-content {
    display: flex;
    align-items: center; }
    @media screen and (max-width: 1023px) {
      .header-content .logo-content {
        display: none; } }
    @media screen and (max-width: 767px) {
      .header-content .logo-content {
        display: none; } }
    .header-content .logo-content img {
      height: 25px; }
  .header-content .menu-content {
    display: flex;
    align-items: center; }
    @media screen and (max-width: 1023px) {
      .header-content .menu-content {
        display: none; } }
    @media screen and (max-width: 767px) {
      .header-content .menu-content {
        display: none; } }
    .header-content .menu-content ul {
      display: flex;
      list-style-type: none;
      color: #fff; }
      .header-content .menu-content ul li {
        margin-right: 22px;
        font-size: 12px;
        font-weight: bold; }
      .header-content .menu-content ul li:hover {
        color: #FF7A00;
        list-style-type: initial; }
  .header-content .active-content {
    display: flex;
    align-items: center; }
    .header-content .active-content .basket-container {
      color: #fff;
      font-size: 14px;
      display: flex;
      align-items: center;
      margin-right: 15px; }
      .header-content .active-content .basket-container img {
        height: 22px; }
    .header-content .active-content .buttons-container {
      display: flex;
      align-items: center; }
      @media screen and (max-width: 1023px) {
        .header-content .active-content .buttons-container {
          display: none; } }
      @media screen and (max-width: 767px) {
        .header-content .active-content .buttons-container {
          display: none; } }
      .header-content .active-content .buttons-container .button {
        width: 90px;
        padding: 4px 12px;
        border-radius: 4px;
        border: 0.5px solid #fff2e5;
        color: #fff;
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 20px;
        font-size: 9px; }
      .header-content .active-content .buttons-container .button:hover {
        background-color: #FF7A00;
        border: none; }
      .header-content .active-content .buttons-container .contact-button {
        margin-right: 5px; }

.banner-section {
  background: url(../img/background.png) left/cover;
  height: 480px;
  max-width: 100%; }
  @media screen and (max-width: 1023px) {
    .banner-section {
      height: 350px; } }
  @media screen and (max-width: 767px) {
    .banner-section {
      height: 500px;
      background: url(../img/background.png) top/cover; } }
  .banner-section .container {
    margin: 0 180px; }
    @media screen and (max-width: 1023px) {
      .banner-section .container {
        margin: 0 35px; } }
    @media screen and (max-width: 767px) {
      .banner-section .container {
        margin: 0 20px; } }

.banner-content {
  padding: 100px 0 150px 0; }
  .banner-content img {
    height: 100px; }
    @media screen and (max-width: 1023px) {
      .banner-content img {
        height: 90px; } }
    @media screen and (max-width: 767px) {
      .banner-content img {
        width: 100%;
        height: 100px;
        margin-top: 130px; } }
  .banner-content p {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    width: 300px;
    margin: 35px 0 20px 0; }
    @media screen and (max-width: 767px) {
      .banner-content p {
        width: 100%; } }
  .banner-content .button {
    width: 90px;
    padding: 4px 12px;
    border-radius: 4px;
    border: 0.5px solid #fff2e5;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 20px; }
    @media screen and (max-width: 767px) {
      .banner-content .button {
        width: 100%; } }
  .banner-content .button:hover {
    background-color: #FF7A00;
    border: none; }

.services-section {
  background: url(../img/banner-services.png) no-repeat;
  background-size: 700px 650px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column; }
  @media screen and (max-width: 1023px) {
    .services-section {
      background: none;
      margin-top: 0; } }
  @media screen and (max-width: 767px) {
    .services-section {
      background: none; } }
  .services-section .services-container {
    background-color: #000;
    width: 100%;
    opacity: 0.8;
    margin: 20px 0 80px 0; }

.services-heading {
  margin-top: 30px;
  display: flex;
  align-items: center; }
  .services-heading .round {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: #FF7A00;
    margin-right: 12px; }
    @media screen and (max-width: 1023px) {
      .services-heading .round {
        height: 7px;
        width: 7px;
        border-radius: 100%;
        background-color: #FF7A00;
        margin: 0 8px 0 35px; } }
    @media screen and (max-width: 767px) {
      .services-heading .round {
        height: 7px;
        width: 7px;
        border-radius: 100%;
        background-color: #FF7A00;
        margin: 0 8px 0 0; } }
  .services-heading p {
    font-size: 36px;
    color: #FF7A00;
    font-weight: bold; }
    @media screen and (max-width: 1023px) {
      .services-heading p {
        font-size: 24px;
        color: #FF7A00;
        font-weight: bold;
        margin: 0; } }
    @media screen and (max-width: 767px) {
      .services-heading p {
        font-size: 12px;
        text-transform: uppercase;
        color: #FF7A00;
        font-weight: bold; } }

.services-content .container {
  margin: 0 180px; }
  @media screen and (max-width: 1023px) {
    .services-content .container {
      margin: 0 35px; } }
  @media screen and (max-width: 767px) {
    .services-content .container {
      margin: 0 20px; } }

.services-list {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 20px 0; }
  @media screen and (max-width: 1023px) {
    .services-list {
      flex-direction: column; } }
  @media screen and (max-width: 767px) {
    .services-list {
      flex-direction: column;
      align-items: center;
      justify-content: center; } }
  .services-list .services-item {
    display: flex;
    flex-direction: column; }
    @media screen and (max-width: 1023px) {
      .services-list .services-item {
        flex-direction: row;
        justify-content: center; } }
    @media screen and (max-width: 767px) {
      .services-list .services-item {
        flex-direction: column; } }
    .services-list .services-item .item {
      display: flex;
      padding-bottom: 30px; }
      @media screen and (max-width: 1023px) {
        .services-list .services-item .item {
          margin: 0 50px; } }
      .services-list .services-item .item .img-service {
        display: flex;
        align-items: center; }
        .services-list .services-item .item .img-service img {
          width: 35px;
          height: 40px; }
      .services-list .services-item .item .item-name {
        font-family: 'Montserrat', sans-serif;
        color: #FFF1E3;
        margin-left: 10px; }
        .services-list .services-item .item .item-name h4 {
          font-size: 18px; }
        .services-list .services-item .item .item-name span {
          font-size: 8px; }
        .services-list .services-item .item .item-name p {
          font-size: 10px;
          font-weight: bold; }

.team-section .container {
  margin: 0 180px; }
  @media screen and (max-width: 1023px) {
    .team-section .container {
      margin: 0 35px; } }
  @media screen and (max-width: 767px) {
    .team-section .container {
      margin: 0 20px; } }

.team-content {
  display: flex;
  flex-direction: column;
  margin: 50px 0; }
  @media screen and (max-width: 1023px) {
    .team-content {
      margin: 0; } }
  .team-content .team-content-biography {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    @media screen and (max-width: 1023px) {
      .team-content .team-content-biography {
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    @media screen and (max-width: 767px) {
      .team-content .team-content-biography {
        flex-direction: column; } }
    .team-content .team-content-biography .team-photos {
      display: flex;
      align-items: flex-end; }
      .team-content .team-content-biography .team-photos img {
        height: 150px;
        margin-right: 5px; }
        @media screen and (max-width: 1023px) {
          .team-content .team-content-biography .team-photos img {
            height: 200px; } }
        @media screen and (max-width: 767px) {
          .team-content .team-content-biography .team-photos img {
            height: 0; } }
      .team-content .team-content-biography .team-photos .active-photo {
        height: 250px; }
        @media screen and (max-width: 1023px) {
          .team-content .team-content-biography .team-photos .active-photo {
            height: 300px; } }
        @media screen and (max-width: 767px) {
          .team-content .team-content-biography .team-photos .active-photo {
            height: 300px; } }
      .team-content .team-content-biography .team-photos .arrow-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        background-color: #FFF2E5; }
        @media screen and (max-width: 1023px) {
          .team-content .team-content-biography .team-photos .arrow-container {
            margin-left: 15px; } }
        .team-content .team-content-biography .team-photos .arrow-container img {
          height: 15px; }
      .team-content .team-content-biography .team-photos .arrow-container:hover {
        transform: scale(1.2); }
  .team-content .biography-heading {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 40px; }
    .team-content .biography-heading .round {
      height: 10px;
      width: 10px;
      border-radius: 100%;
      background-color: #FF7A00;
      margin-right: 12px; }
      @media screen and (max-width: 1023px) {
        .team-content .biography-heading .round {
          height: 7px;
          width: 7px;
          border-radius: 100%;
          background-color: #FF7A00;
          margin: 0 8px 0 35px; } }
      @media screen and (max-width: 767px) {
        .team-content .biography-heading .round {
          height: 7px;
          width: 7px;
          border-radius: 100%;
          background-color: #FF7A00;
          margin: 0 8px 0 0; } }
    .team-content .biography-heading p {
      font-size: 36px;
      color: #FF7A00;
      font-weight: bold; }
      @media screen and (max-width: 1023px) {
        .team-content .biography-heading p {
          font-size: 24px;
          color: #FF7A00;
          font-weight: bold;
          margin: 0; } }
      @media screen and (max-width: 767px) {
        .team-content .biography-heading p {
          font-size: 12px;
          text-transform: uppercase;
          color: #FF7A00;
          font-weight: bold; } }
  .team-content .team-biography {
    margin-left: 25px; }
    @media screen and (max-width: 1023px) {
      .team-content .team-biography {
        margin: 20px; } }
    .team-content .team-biography p {
      color: #FF7A00;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 10px; }
    .team-content .team-biography ul {
      width: 300px;
      font-size: 12px; }
      .team-content .team-biography ul li {
        list-style-type: none; }

.book-section {
  color: #222222;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 100%, rgba(0, 0, 0, 0.8) 100%), url(../img/banner-book.png) top/cover; }
  .book-section .book-container {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 250px; }
    @media screen and (max-width: 1023px) {
      .book-section .book-container {
        width: 100%;
        margin: 40px 30px; } }
    @media screen and (max-width: 767px) {
      .book-section .book-container {
        width: 100%;
        margin: 0; } }
    .book-section .book-container h3 {
      text-align: center; }
    .book-section .book-container p {
      text-align: center;
      font-size: 10px;
      margin: 15px 0 30px 0; }

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 767px) {
    .form-container {
      align-items: stretch; } }
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px; }
    .form-container .form-group .name-element {
      font-size: 10px;
      margin: 0px 0px 5px 15px; }
    .form-container .form-group .text-input {
      border: 1px solid #DFDFDF;
      border-radius: 2px;
      width: 100%;
      height: 22px;
      color: #DFDFDF;
      padding: 8px 12px;
      font-size: 10px;
      outline: none; }
  .form-container .form-double-group {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 767px) {
      .form-container .form-double-group {
        flex-direction: column; } }
    .form-container .form-double-group .form-group {
      width: 47%; }
      @media screen and (max-width: 767px) {
        .form-container .form-double-group .form-group {
          width: 100%; } }
  .form-container .input-choose {
    padding: 10px 15px;
    border: 1px solid #DFDFDF;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px; }
    .form-container .input-choose .choose-item {
      display: flex;
      align-items: center; }
    .form-container .input-choose .checkbox label {
      display: flex;
      align-items: center;
      user-select: none; }
    .form-container .input-choose .checkbox::before {
      content: '';
      display: flex;
      width: 10px;
      height: 10px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #222222;
      background-color: #fff;
      border-radius: 2px;
      margin-right: 5px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%; }
    .form-container .input-choose .checkbox:checked::before {
      border-color: #FF7A00;
      background-color: #FF7A00; }
    .form-container .input-choose .radio label {
      display: flex;
      align-items: center;
      user-select: none; }
    .form-container .input-choose .radio::before {
      content: '';
      display: flex;
      width: 10px;
      height: 10px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #222222;
      background-color: #fff;
      border-radius: 50%;
      margin-right: 5px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%; }
    .form-container .input-choose .radio:checked::before {
      border-color: #222222;
      background-color: #FF7A00; }

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  padding: 4px 12px;
  border-radius: 4px;
  border: 1px solid #222222;
  color: #222222;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 20px; }
  @media screen and (max-width: 767px) {
    .button {
      width: 100%; } }

.button:hover {
  background-color: #FF7A00;
  border: none;
  color: #fff; }

.products-section {
  padding: 50px 0 80px 0; }
  @media screen and (max-width: 1023px) {
    .products-section {
      padding: 50px 0 20px 0; } }
  @media screen and (max-width: 767px) {
    .products-section {
      margin: 0 20px; } }
  .products-section .container {
    margin: 0 180px; }
    @media screen and (max-width: 1023px) {
      .products-section .container {
        margin: 0 35px; } }
    @media screen and (max-width: 767px) {
      .products-section .container {
        margin: 0 20px; } }

.popular-products .products-heading {
  display: flex;
  align-items: center;
  margin-bottom: 50px; }
  @media screen and (max-width: 1023px) {
    .popular-products .products-heading {
      margin-bottom: 30px; } }
  @media screen and (max-width: 767px) {
    .popular-products .products-heading {
      margin-bottom: 30px; } }
  .popular-products .products-heading .round {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: #FF7A00;
    margin-right: 12px; }
    @media screen and (max-width: 1023px) {
      .popular-products .products-heading .round {
        height: 7px;
        width: 7px;
        border-radius: 100%;
        background-color: #FF7A00;
        margin: 0 8px 0 35px; } }
    @media screen and (max-width: 767px) {
      .popular-products .products-heading .round {
        height: 7px;
        width: 7px;
        border-radius: 100%;
        background-color: #FF7A00;
        margin: 0 8px 0 0; } }
  .popular-products .products-heading p {
    font-size: 36px;
    color: #FF7A00;
    font-weight: bold; }
    @media screen and (max-width: 1023px) {
      .popular-products .products-heading p {
        font-size: 24px;
        color: #FF7A00;
        font-weight: bold; } }
    @media screen and (max-width: 767px) {
      .popular-products .products-heading p {
        font-size: 12px;
        text-transform: uppercase;
        color: #FF7A00;
        font-weight: bold; } }
.popular-products .pop-prod-catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media screen and (max-width: 1023px) {
    .popular-products .pop-prod-catalog {
      margin: 0;
      justify-content: center; } }
  @media screen and (max-width: 767px) {
    .popular-products .pop-prod-catalog {
      margin: 0;
      justify-content: center; } }
  .popular-products .pop-prod-catalog .product-group {
    position: relative;
    margin-right: 40px;
    display: flex;
    flex-direction: column; }
    @media screen and (max-width: 1023px) {
      .popular-products .pop-prod-catalog .product-group {
        margin: 0 60px 60px 60px; } }
    @media screen and (max-width: 767px) {
      .popular-products .pop-prod-catalog .product-group {
        margin: 0 40px 40px 40px; } }
    .popular-products .pop-prod-catalog .product-group .sale {
      position: absolute;
      width: 80px;
      height: 30px;
      background-color: #FF7A00;
      border: none;
      color: #fff;
      box-shadow: 0px 5px 10px rgba(61, 58, 55, 0.2);
      border-radius: 4px;
      top: -20px;
      left: -15px; }
      .popular-products .pop-prod-catalog .product-group .sale span {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 30px;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase; }
    .popular-products .pop-prod-catalog .product-group .product-img {
      width: 150px;
      height: 150px;
      box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.08); }
      @media screen and (max-width: 1023px) {
        .popular-products .pop-prod-catalog .product-group .product-img {
          width: 150px;
          height: 150px;
          box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.08); } }
      @media screen and (max-width: 767px) {
        .popular-products .pop-prod-catalog .product-group .product-img {
          width: 150px;
          height: 150px;
          box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.08); } }
      .popular-products .pop-prod-catalog .product-group .product-img img {
        height: 150px; }
        @media screen and (max-width: 1023px) {
          .popular-products .pop-prod-catalog .product-group .product-img img {
            height: 150px; } }
        @media screen and (max-width: 767px) {
          .popular-products .pop-prod-catalog .product-group .product-img img {
            height: 150px; } }
    .popular-products .pop-prod-catalog .product-group .product-desc {
      padding: 12px 0;
      font-size: 10px; }
      .popular-products .pop-prod-catalog .product-group .product-desc span {
        font-weight: bold;
        margin-bottom: 5px; }
      .popular-products .pop-prod-catalog .product-group .product-desc .price {
        font-weight: bold;
        color: #FF7A00;
        margin-top: 10px; }
    .popular-products .pop-prod-catalog .product-group .button-product {
      display: flex; }
      .popular-products .pop-prod-catalog .product-group .button-product .button-shop {
        padding: 4px 12px;
        border-radius: 4px;
        border: 1px solid #222222;
        color: #222222;
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 20px;
        margin-right: 5px; }
      .popular-products .pop-prod-catalog .product-group .button-product .button-shop:hover {
        background-color: #FFF2E5;
        border: 1px solid #222222;
        color: #222222;
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 20px; }
      .popular-products .pop-prod-catalog .product-group .button-product .button-add {
        padding: 4px 12px;
        border-radius: 4px;
        border: 1px solid #222222;
        color: #222222;
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 20px;
        width: 30px;
        height: 30px; }
        .popular-products .pop-prod-catalog .product-group .button-product .button-add .plus {
          display: flex;
          margin-top: 2px;
          justify-content: center; }
          .popular-products .pop-prod-catalog .product-group .button-product .button-add .plus .vertical {
            position: absolute;
            border: 1px solid #222222;
            height: 15px; }
          .popular-products .pop-prod-catalog .product-group .button-product .button-add .plus .horizontal {
            position: absolute;
            border: 1px solid #222222;
            height: 15px;
            transform: rotate(-90deg); }
      .popular-products .pop-prod-catalog .product-group .button-product .button-add:hover {
        background-color: #FFF2E5;
        border: 1px solid #222222;
        color: #222222;
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 20px; }

.review-section {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 100%, rgba(0, 0, 0, 0.8) 100%), url(../img/banner-book.png) top/cover no-repeat; }
  .review-section .container {
    margin: 0 180px; }
    @media screen and (max-width: 1023px) {
      .review-section .container {
        margin: 0 35px; } }
    @media screen and (max-width: 767px) {
      .review-section .container {
        margin: 0 20px; } }

.review-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0 50px 0; }
  .review-content .review-heading {
    display: flex;
    align-items: center; }
    @media screen and (max-width: 1023px) {
      .review-content .review-heading {
        justify-content: flex-end; } }
    .review-content .review-heading .round {
      height: 10px;
      width: 10px;
      border-radius: 100%;
      background-color: #FF7A00;
      margin-right: 12px; }
      @media screen and (max-width: 1023px) {
        .review-content .review-heading .round {
          height: 7px;
          width: 7px;
          border-radius: 100%;
          background-color: #FF7A00;
          margin: 0 8px 0 35px; } }
      @media screen and (max-width: 767px) {
        .review-content .review-heading .round {
          height: 7px;
          width: 7px;
          border-radius: 100%;
          background-color: #FF7A00;
          margin: 0 8px 0 0; } }
    .review-content .review-heading p {
      font-size: 36px;
      color: #FF7A00;
      font-weight: bold; }
      @media screen and (max-width: 1023px) {
        .review-content .review-heading p {
          font-size: 24px;
          color: #FF7A00;
          font-weight: bold; } }
      @media screen and (max-width: 767px) {
        .review-content .review-heading p {
          font-size: 12px;
          text-transform: uppercase;
          color: #FF7A00;
          font-weight: bold; } }
  .review-content .team-photos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px; }
    @media screen and (max-width: 767px) {
      .review-content .team-photos {
        margin-top: 30px; } }
    .review-content .team-photos img {
      height: 120px;
      margin-right: 5px; }
      @media screen and (max-width: 1023px) {
        .review-content .team-photos img {
          height: 150px; } }
      @media screen and (max-width: 767px) {
        .review-content .team-photos img {
          height: 0; } }
    .review-content .team-photos .active-photo {
      height: 220px; }
      @media screen and (max-width: 1023px) {
        .review-content .team-photos .active-photo {
          height: 250px; } }
      @media screen and (max-width: 767px) {
        .review-content .team-photos .active-photo {
          height: 300px; } }
    .review-content .team-photos .arrow-img {
      height: 15px;
      margin: 100px 10px 0 10px; }
      @media screen and (max-width: 767px) {
        .review-content .team-photos .arrow-img {
          margin-top: 270px; } }
    .review-content .team-photos .arrow-img:hover {
      transform: scale(1.5); }
    @media screen and (max-width: 767px) {
      .review-content .team-photos .left-arrow {
        height: 0; } }
  .review-content .team-biography {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px; }
    .review-content .team-biography p {
      color: #FF7A00;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px; }
    .review-content .team-biography ul {
      color: #FFF1E3;
      width: 400px;
      font-size: 10px; }
      @media screen and (max-width: 767px) {
        .review-content .team-biography ul {
          width: 100%; } }
      .review-content .team-biography ul li {
        list-style-type: none; }

.contacts-section .container {
  margin: 0 180px; }
  @media screen and (max-width: 1023px) {
    .contacts-section .container {
      margin: 0 35px; } }
  @media screen and (max-width: 767px) {
    .contacts-section .container {
      margin: 0 20px; } }
  .contacts-section .container .contacts-content {
    display: flex;
    justify-content: space-between;
    margin: 70px 0; }
    @media screen and (max-width: 1023px) {
      .contacts-section .container .contacts-content {
        flex-direction: column;
        margin: 20px 0; } }
    .contacts-section .container .contacts-content .map-img {
      width: 600px;
      margin-left: 50px; }
      @media screen and (max-width: 767px) {
        .contacts-section .container .contacts-content .map-img {
          width: 100%;
          margin: 0; } }
    @media screen and (max-width: 1023px) {
      .contacts-section .container .contacts-content .info {
        display: flex;
        justify-content: space-around; } }
    @media screen and (max-width: 767px) {
      .contacts-section .container .contacts-content .info {
        flex-direction: column; } }
    .contacts-section .container .contacts-content .info-group h2 {
      color: #FF7A00;
      font-size: 32px;
      margin-bottom: 15px; }
      @media screen and (max-width: 767px) {
        .contacts-section .container .contacts-content .info-group h2 {
          font-size: 16px; } }
    .contacts-section .container .contacts-content .info-group p {
      color: #222222;
      font-size: 10px;
      font-weight: bold;
      margin-bottom: 8px;
      margin-right: 30px;
      font-weight: bold; }
    .contacts-section .container .contacts-content .info-group .follow-icons {
      display: flex;
      align-items: center; }
      .contacts-section .container .contacts-content .info-group .follow-icons img {
        margin-bottom: 10px;
        margin-right: 5px; }
    .contacts-section .container .contacts-content .info-group .desc {
      text-transform: uppercase; }
      @media screen and (max-width: 767px) {
        .contacts-section .container .contacts-content .info-group .desc {
          text-transform: none; } }
    .contacts-section .container .contacts-content .info-group .timing {
      display: flex;
      align-items: center; }

.footer {
  margin-top: 50px;
  height: 160px;
  width: 100%;
  background-color: #222222; }
  @media screen and (max-width: 1023px) {
    .footer {
      margin: 0;
      height: 200px; } }
  @media screen and (max-width: 767px) {
    .footer {
      margin: 0;
      height: 350px; } }
  .footer .container {
    margin: 0 180px; }
    @media screen and (max-width: 1023px) {
      .footer .container {
        margin: 0 35px; } }
    @media screen and (max-width: 767px) {
      .footer .container {
        margin: 0 20px; } }

.footer-content {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  color: #fff; }
  @media screen and (max-width: 767px) {
    .footer-content {
      flex-direction: column; } }
  .footer-content .logo-content {
    display: flex; }
    .footer-content .logo-content img {
      height: 25px; }
  .footer-content .menu-content {
    display: flex;
    margin-left: 50px; }
    @media screen and (max-width: 767px) {
      .footer-content .menu-content {
        margin-left: 0;
        margin-top: 10px; } }
    .footer-content .menu-content ul {
      list-style-type: none; }
      .footer-content .menu-content ul li {
        padding-bottom: 10px;
        font-size: 10px; }
      .footer-content .menu-content ul li:hover {
        color: #FF7A00;
        list-style-type: initial; }
  .footer-content .contact-info {
    display: flex;
    justify-content: space-between;
    margin-left: 170px;
    width: 400px; }
    @media screen and (max-width: 767px) {
      .footer-content .contact-info {
        flex-direction: column;
        margin: 0; } }
    .footer-content .contact-info .info-group h5 {
      margin: 0;
      text-transform: uppercase;
      font-size: 10px; }
      @media screen and (max-width: 767px) {
        .footer-content .contact-info .info-group h5 {
          margin: 10px 0; } }
    .footer-content .contact-info .info-group p {
      font-size: 10px;
      line-height: 25px; }
      @media screen and (max-width: 767px) {
        .footer-content .contact-info .info-group p {
          line-height: 15px; } }
    .footer-content .contact-info .info-group .follow-icons {
      display: flex;
      margin-top: 5px; }
      .footer-content .contact-info .info-group .follow-icons img {
        width: 12px;
        margin-right: 5px; }

/*# sourceMappingURL=main.css.map */
